.imageCard {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.cardPadding {
  margin: 0.5rem;
}
.centerContent {
  display: flex;
  flex-wrap: wrap;
}
.input-filter {
  display: flex;
  justify-content: center;
}
.filter-price {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.padding-button {
  margin-left: 0.5rem;
}
